<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Express Movies</title>
	<link rel="stylesheet" href="../public/style.css">
</head>
<body>
	<h1>Express Movies : le site des cinéphiles</h1>
	<div>Vous trouverez votre bonheur sur ce site</div>
</body>
</html>